@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Source+Sans+Pro:wght@200;300;400;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');


:root {
    --orange: #f07411;
    --orange-light: #ffc89dd1;
    --white: #ffffff;
    --black: #313131;
    --bg-color: #ffc89d1f;

    font-family: 'Source Sans Pro',
        sans-serif;
}


body,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--black);
}

p {
    font-weight: 300;
    line-height: 26px;
}

.sec-bg {
    background-color: var(--bg-color);
}

.sec-p {
    padding: 80px 0;
}

.custom-btn {
    color: var(--black);
    border: 2px solid var(--black);
    padding: 8px 28px;
    transition: 0.3s;
}

.custom-btn:hover {
    background-color: var(--orange);
    border: 2px solid var(--orange) !important;
    color: var(--white);
}

.main-title {
    font-size: 45px;
    font-weight: 500;
    color: var(--black);
    text-align: center;
    position: relative;
    margin-bottom: 70px;
}

.main-title h1::after {
    content: '';
    position: absolute;
    background-color: var(--orange);
    width: 6%;
    height: 2px;
    left: 50%;
    bottom: -16%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* ================= navbar starts =================== */

.navbar {
    background-color: var(--white);
    padding: 4px 0;
    box-shadow: 0px 0px 5px -1px rgb(86 70 73 / 52%);
    -webkit-box-shadow: 0px 0px 5px -1px rgb(86 70 73 / 52%);
    -moz-box-shadow: 0px 0px 5px -1px rgb(86 70 73 / 52%);
}

.navbar img {
    width: 100%;
    height: 56px;
}

.navbar .navbar-nav .nav-item {
    margin-left: 35px;
}

.navbar .navbar-nav .nav-item .nav-link {
    font-size: 14px;
    color: var(--black);
    transition: 0.3s;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: var(--orange);
}

.home-banner {
    background-image: url("images/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-banner .content {
    width: 36%;
    text-align: center;
}

.home-banner .content .custom-btn {
    color: var(--white);
    border: 2px solid var(--white);
}

.home-banner .content h1 {
    color: var(--white);
    font-size: 50px;
    margin-bottom: 16px;
}

.home-banner .content p {
    color: var(--white);
    line-height: 28px;
}

#menuCarousel .item img {
    width: 100%;
    height: 500px;
    object-fit: contain;
}

#menuCarousel .item .button {
    margin-top: 20px;
}

#menuCarousel button.owl-dot {
    background: var(--orange-light);
    width: 12px;
    height: 12px;
    margin-right: 22px;
    border-radius: 50%;
}

#menuCarousel button.owl-dot.active {
    background: var(--orange);

}

#menuCarousel .owl-dots {
    text-align: center;
    margin-top: 35px;
}

.services-sec .services-items .item-card {
    margin-bottom: 30px;
    text-align: center;
}

.services-sec .services-items .item-card .item-body {
    padding: 10px;
    padding-top: 20px;
}

.services-sec .services-items .item-card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
}

.feedback-sec #feedbackCarousel .feedback-name img {
    display: block;
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-right: 30px;
}

.feedback-sec #feedbackCarousel .feedback-name h5 {
    font-size: 14px;
    font-weight: 500;
}

.feedback-sec #feedbackCarousel .item {
    padding: 40px;
    position: relative;
}

.feedback-sec #feedbackCarousel p {
    text-align: justify;
    font-weight: 300;
}

#feedbackCarousel button.owl-dot {
    background: var(--orange-light);
    width: 12px;
    height: 12px;
    margin-right: 22px;
    border-radius: 50%;
}

#feedbackCarousel button.owl-dot.active {
    background: var(--orange);

}

#feedbackCarousel .owl-dots {
    text-align: center;
    margin-top: 35px;
}

#feedbackCarousel .owl-item {
    padding: 36px 0;
}

#feedbackCarousel .owl-item.active.center>div::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#feedbackCarousel .owl-item.active.center .item::before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f10d";
    top: -23px;
    left: 35px;
    font-size: 30px;
    padding: 0 8px;
    background: white;
}

.findus-sec .map {
    position: relative;
}

.findus-sec .findus-body {
    text-align: center;
    padding: 80px 0;
}

.findus-sec .map::after {
    content: "";
    background: url(images/earth-map.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.findus-sec .findus-body .findus-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

.java-moments .small-title {
    text-align: center;
    margin-bottom: 60px;
}

#javaCarousel .owl-item img {
    display: block;
    width: 240px;
    height: 240px;
    object-fit: contain;
}

footer {
    background-color: var(--black);
    position: relative;
}

footer .footer-logo {
    margin-bottom: 40px;
}

footer .footer-logo img {
    height: 150px;
    object-fit: cover;
}

footer .detail p,
footer .detail a {
    color: var(--white);
    margin-bottom: 5px;
    font-size: 14px;
}

footer .detail a {
    color: var(--white);
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: 0.3s;
}

footer .detail .social-links {
    display: flex;
    justify-content: center;
}

footer .detail .social-links a {
    margin-right: 10px;
    transition: 0.3s;
}

footer .detail .social-links a:hover,
footer .detail a:hover {
    color: var(--orange);
}

footer:after {
    content: '';
    position: absolute;
    background-image: url(images/coffee-beans-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: -25px;
    left: 14px;
    width: 80px;
    height: 70px;
    z-index: 1;
}

/* =================== Responsive parts========================= */
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {
    .home-banner .content {
        width: 50%;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
    .home-banner .content {
        width: 60%;
    }
    #menuCarousel .item img {
        height:400px;
    }
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    p {
        line-height: 28px;
        font-size:14px;
    }
    a {
        font-size: 14px;
    }
    .main-title{
        margin-bottom:40px;
    }

    .custom-btn {
        font-size: 14px;
        padding: 6px 24px;
        border: 1px solid var(--black) ;

    }
    .navbar-toggler-icon {
        width: 20px;
        height: 20px;}

    .home-banner {
        height: 500px;
    }

    .home-banner .content h1 {
        color: var(--white);
        font-size: 41px;
        margin-bottom: 16px;
    }

    #feedbackCarousel .owl-dots {
        margin-top: 0;
    }
}

@media (max-width: 450px) {
    p, a{
            line-height: 24px;
    }
    .home-banner .content {
        width: 70%;
    }

    .home-banner .content h1 {
        font-size: 38px;
    }
}

@media (max-width: 375px) {}

@media (max-width: 330px) {
    .home-banner{height: 350px;}
    .home-banner .content {
        width: 80%;
    }
    .home-banner .content h1{
        font-size:30px;
    }
}

@media (max-width: 320px) {}